{% if is_paginated %}
<div class="pagination pagination-multi">
    <ul>
        {% if page_obj.has_previous %}
            <li class="prev-page">
                <a href="?page={{ page_obj.previous_page_number }}{% if pagination_query %}&{{ pagination_query }}{% endif %}">上一页</a>
            </li>
        {% endif %}
        {% for page_number in pagination_pages %}
            {% if page_number %}
                {% if page_number == page_obj.number %}
                    <li><a href="?page={{ page_number }}{% if pagination_query %}&{{ pagination_query }}{% endif %}" style="background-color:#FF6651;color:#fff">{{ page_number }}</a></li>
                {% else %}
                    <li><a href="?page={{ page_number }}{% if pagination_query %}&{{ pagination_query }}{% endif %}">{{ page_number }}</a></li>
                {% endif %}
            {% else %}
                <li><span>...</span></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="next-page">
                <a href="?page={{ page_obj.next_page_number }}{% if pagination_query %}&{{ pagination_query }}{% endif %}">下一页</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}
